*.bcs eol=lf
*.BCS eol=lf
*.tra eol=crlf
*.TRA eol=crlf
*.tpa eol=crlf
*.TPA eol=crlf
*.tph eol=crlf
*.TPH eol=crlf
*.ini eol=crlf
*.INI eol=crlf
*.2da eol=crlf
*.2DA eol=crlf
*.ini eol=crlf
*.INI eol=crlf